<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家国梦建筑摆放计算器</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="container">
        <h1 class="mb-4">家国梦计算器 v{{version}}</h1>
        <div>
            <h3 class="mb-3">配置建筑及星级</h3>
            <div class="row mb-5">
                <div v-for="types in buildings" class="col-4">
                    <h5>{{types.type}}</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">名称</th>
                            <th class="text-center">禁用</th>
                            <th class="text-center">星级</th>
                            <th class="text-center">等级</th>
                            <th class="text-center">任务加成</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in types.list" :class="[{ 'table-primary': item.rarity===rarity.Common }, { 'table-rare': item.rarity===rarity.Rare },{ 'table-warning': item.rarity===rarity.Legendary }]">
                            <td class="text-nowrap text-center">{{item.BuildingName}}</td>
                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" v-model="item.disabled">
                                </div>
                            </td>
                            <td>
                                <select v-model="item.star" class="form-control form-control-sm">
                                    <option value="0">无</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input v-model="item.level" type="number" min="1" max="2000" step="1" class="form-control text-right form-control-sm calculator-level">
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input v-model="item.quest" type="number" class="form-control text-right">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="mb-3">任务、政策及游记加成<small class="text-muted">家国之光、国庆buff属于政策加成</small></h3>
            <div class="row mb-5">
                <div class="col-4" v-for="buffSource in buffs">
                    <h5>{{buffSource.type}}</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">加成类型</th>
                            <th class="text-center">加成比例</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="buff in buffSource.list">
                            <td class="text-center text-nowrap">{{buff.target}}</td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input v-model="buff.buff" type="number" class="form-control text-right">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="mb-3">操作</h3>
            <div class="mb-5">
                <button type="button" @click="calculation" :disabled="calculationing" :class="{disabled:calculationing}" class="btn btn-primary">{{calculationing?"计算中...":"计算结果"}}</button>
                <button type="button" @click="save" :disabled="calculationing" :class="{disabled:calculationing}" class="btn btn-success">保存参数</button>
                <button type="button" @click="clear" :disabled="calculationing" :class="{disabled:calculationing}" class="btn btn-danger">清除存档</button>
                <button type="button" @click="stop" v-if="calculationing" class="btn btn-danger">停止计算</button>
            </div>
            <h3 class="mb-3">结果</h3>
            <div class="row">
                <div class="col-12" v-if="calculationing">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">正在计算，请稍候...</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" :style="{ width:  progress + '%' }">{{progress}}%</div>
                        </div>
                    </div>
                </div>
                <div class="col-3" v-if="programs.onlineMoney.online">
                    <h5>在线金币优先策略</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                            <th class="text-center">供货</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{programs.onlineMoney.online}}/秒</td>
                            <td>{{programs.onlineMoney.offline}}/秒</td>
                            <td>{{programs.onlineMoney.supply}}%</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">建筑</th>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="building in programs.onlineMoney.buildings" :class="[{ 'table-primary': building.building.rarity===rarity.Common }, { 'table-rare': building.building.rarity===rarity.Rare },{ 'table-warning': building.building.rarity===rarity.Legendary }]">
                            <td class="text-nowrap text-center">{{building.building.BuildingName}}</td>
                            <td>{{building.online}}/秒</td>
                            <td>{{building.offline}}/秒</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3" v-if="programs.supplyMoney.online">
                    <h5>供货优先、金币次之策略</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                            <th class="text-center">供货</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{programs.supplyMoney.online}}/秒</td>
                            <td>{{programs.supplyMoney.offline}}/秒</td>
                            <td>{{programs.supplyMoney.supply}}%</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">建筑</th>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="building in programs.supplyMoney.buildings" :class="[{ 'table-primary': building.building.rarity===rarity.Common }, { 'table-rare': building.building.rarity===rarity.Rare },{ 'table-warning': building.building.rarity===rarity.Legendary }]">
                            <td class="text-nowrap text-center">{{building.building.BuildingName}}</td>
                            <td>{{building.online}}/秒</td>
                            <td>{{building.offline}}/秒</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3" v-if="programs.supplyRarity.online">
                    <h5>供货优先、橙色次之策略</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                            <th class="text-center">供货</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{programs.supplyRarity.online}}/秒</td>
                            <td>{{programs.supplyRarity.offline}}/秒</td>
                            <td>{{programs.supplyRarity.supply}}%</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">建筑</th>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="building in programs.supplyRarity.buildings" :class="[{ 'table-primary': building.building.rarity===rarity.Common }, { 'table-rare': building.building.rarity===rarity.Rare },{ 'table-warning': building.building.rarity===rarity.Legendary }]">
                            <td class="text-nowrap text-center">{{building.building.BuildingName}}</td>
                            <td>{{building.online}}/秒</td>
                            <td>{{building.offline}}/秒</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3" v-if="programs.offlineMoney.online">
                    <h5>离线金币优先策略</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                            <th class="text-center">供货</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{programs.offlineMoney.online}}/秒</td>
                            <td>{{programs.offlineMoney.offline}}/秒</td>
                            <td>{{programs.offlineMoney.supply}}%</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">建筑</th>
                            <th class="text-center">在线</th>
                            <th class="text-center">离线</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="building in programs.offlineMoney.buildings" :class="[{ 'table-primary': building.building.rarity===rarity.Common }, { 'table-rare': building.building.rarity===rarity.Rare },{ 'table-warning': building.building.rarity===rarity.Legendary }]">
                            <td class="text-nowrap text-center">{{building.building.BuildingName}}</td>
                            <td>{{building.online}}/秒</td>
                            <td>{{building.offline}}/秒</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
</html>