<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>家国梦建筑摆放计算器</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="container">
        <div class="alert alert-info mb-4 mt-4" role="alert">
            <h1 class="alert-heading">家国梦计算器 <small>v{{version}}</small></h1>
            <p>计算家国梦建筑最优摆放策略</p>
            <p>
                <a href="https://bbs.nga.cn/read.php?tid=18759532&_ff=678" target="_blank">NGA帖子</a>
                <a href="https://github.com/lintx/jgm-calculator" target="_blank">Github地址</a>
            </p>
        </div>
        <div>
            <h3 class="mb-3">政策、游记及任务加成配置</h3>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">提示</h4>
                        <ul>
                            <li>国庆“分享助力”buff和金钱、供货都没有关系，不要填写。</li>
                            <li>政策加成建议将政策中心内所有已研究的项目按各分类累加后填写，这样可以计算精准数值。</li>
                            <li>查看游记加成：切换到家国之光，点击“中国游记”卡片右上角的星星即可查看。</li>
                            <li>城市任务加成可以点击主界面左下角的“城市任务”后查看，也可以在主界面右上角的buff栏查看（buff名和当前阶段城市任务一致）。</li>
                            <li>城市任务对单个建筑的buff，在下面的建筑配置中填写。</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="form-check">
                        <input v-model="config.policy.stage1" class="form-check-input" type="checkbox" value="" id="policy_stage1">
                        <label class="form-check-label" for="policy_stage1">
                            第一阶段政策是否完成（勾选后填写政策buff时不要计算第一阶段政策）
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="config.policy.stage2" class="form-check-input" type="checkbox" value="" id="policy_stage2">
                        <label class="form-check-label" for="policy_stage2">
                            第二阶段政策是否完成（勾选后填写政策buff时不要计算第二阶段政策）
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="config.policy.stage3" class="form-check-input" type="checkbox" value="" id="policy_stage3">
                        <label class="form-check-label" for="policy_stage3">
                            第三阶段政策是否完成（勾选后填写政策buff时不要计算第三阶段政策）
                        </label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4" v-for="buffSource in buffs">
                    <h5>{{buffSource.type}}</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">加成类型</th>
                            <th class="text-center">加成比例</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="buff in buffSource.list">
                            <td class="text-center text-nowrap">{{buff.target}}</td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input @focus="$event.target.select()" v-model="buff.buff" type="number" class="form-control text-right">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="mb-3">建筑配置</h3>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">提示</h4>
                        <ul>
                            <li>勾选禁用表示在计算时不计算这个建筑，禁用多个建筑可以显著缩短计算时间。</li>
                            <li>任务加成指的是城市任务中，对单个建筑的buff，没有的话全部填0，有的话在对应建筑后面填写对应的buff值。</li>
                        </ul>
                    </div>
                </div>
                <div v-for="types in buildings" class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <h5>{{types.type}}</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center text-nowrap">名称</th>
                            <th class="text-center text-nowrap">禁用</th>
                            <th class="text-center text-nowrap">星级</th>
                            <th class="text-center text-nowrap">等级</th>
                            <th class="text-center text-nowrap">任务加成</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in types.list" :class="[{ 'table-primary': item.rarity===rarity.Common }, { 'table-rare': item.rarity===rarity.Rare },{ 'table-warning': item.rarity===rarity.Legendary }]">
                            <td class="text-nowrap text-center">{{item.BuildingName}}</td>
                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" v-model="item.disabled">
                                </div>
                            </td>
                            <td>
                                <select v-model="item.star" class="form-control form-control-sm">
                                    <option value="0">无</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input
                                        @focus="$event.target.select()"
                                        @keydown.prevent="levelKeyDown($event,item)"
                                        v-model="item.level"
                                        type="number"
                                        min="1"
                                        max="2000"
                                        step="1"
                                        class="form-control text-right form-control-sm calculator-level"
                                >
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input @focus="$event.target.select()" v-model="item.quest" type="number" class="form-control text-right">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="mb-3">其他配置</h3>
            <div class="mb-5 row">
                <div class="col-12">
                    <div class="form-check">
                        <input v-model="config.supplyStep50" class="form-check-input" type="checkbox" value="" id="supplyStep50">
                        <label class="form-check-label" for="supplyStep50">
                            供货计算以每50%为一级
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="config.allBuildingLevel1" class="form-check-input" type="checkbox" value="" id="allBuildingLevel1">
                        <label class="form-check-label" for="allBuildingLevel1">
                            全部建筑按1级计算收益
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">提示</h4>
                        <ul>
                            <li>供货加成在1-49之间时，虽然不能增加红包、相册获取数量，但是能增加蓝币、金币、贡献的数量，所以不建议开启供货计算50%。</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="mb-3">操作</h3>
            <div class="mb-5">
                <button type="button" @click="calculation" :disabled="calculationIng" :class="{disabled:calculationIng}" class="btn btn-primary">{{calculationIng?"计算中...":"计算结果"}}</button>
                <button type="button" @click="save" :disabled="calculationIng" :class="{disabled:calculationIng}" class="btn btn-success">保存参数</button>
                <button type="button" @click="clear" :disabled="calculationIng" :class="{disabled:calculationIng}" class="btn btn-danger">清除存档</button>
                <button type="button" @click="stop" v-if="calculationIng" class="btn btn-danger">停止计算</button>
            </div>
            <h3 class="mb-3">结果</h3>
            <div class="row">
                <div class="col-12" v-if="calculationIng">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">正在计算，请稍候...</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" :style="{ width:  progress + '%' }">{{progress}}%</div>
                        </div>
                    </div>
                </div>
                <div class="col-12" v-if="!calculationIng && programs.length==0">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">点击上面的“计算结果”并等待计算完毕后查看</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-3 mb-4" v-for="program in programs">
                    <div class="card border-info">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th class="text-center">在线</th>
                                <th class="text-center" colspan="2">{{program.addition.online}}/秒</th>
                            </tr>
                            <tr>
                                <th class="text-center">离线</th>
                                <th class="text-center" colspan="2">{{program.addition.offline}}/秒</th>
                            </tr>
                            <tr>
                                <th class="text-center">供货</th>
                                <th class="text-center" colspan="2">{{program.addition.supply}}%</th>
                            </tr>
                            <tr>
                                <th class="text-center">建筑</th>
                                <th class="text-center">在线</th>
                                <th class="text-center">离线</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="building in program.addition.buildings" :class="[{ 'table-primary': building.building.rarity===rarity.Common }, { 'table-rare': building.building.rarity===rarity.Rare },{ 'table-warning': building.building.rarity===rarity.Legendary }]">
                                <td class="text-nowrap text-center">{{building.building.BuildingName}}</td>
                                <td class="text-center">{{building.online}}/秒</td>
                                <td class="text-center">{{building.offline}}/秒</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="card-body">
                            <h5 class="card-title">{{program.title}}</h5>
                            <p class="card-text">
                                升级建议：升级
                                <span class="badge" :class="[{ 'badge-primary': program.addition.upgrade.building.rarity===rarity.Common }, { 'badge-rare': program.addition.upgrade.building.rarity===rarity.Rare },{ 'badge-warning': program.addition.upgrade.building.rarity===rarity.Legendary }]">{{program.addition.upgrade.building.BuildingName}}</span>
                                直到
                                <span class="badge badge-info">{{program.addition.upgrade.toLevel}}</span>
                                级，然后升级
                                <span class="badge" :class="[{ 'badge-primary': program.addition.upgrade.nextBuilding.rarity===rarity.Common }, { 'badge-rare': program.addition.upgrade.nextBuilding.rarity===rarity.Rare },{ 'badge-warning': program.addition.upgrade.nextBuilding.rarity===rarity.Legendary }]">{{program.addition.upgrade.nextBuilding.BuildingName}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>