.table-rare{
  background-color: #7741de;
  td{
    border-color: #5c34a7;
    color: #cecece;
  }
}
.calculator-level,.calculator-star{
  min-width: 56px;
}
.badge-rare{
  background-color: #7741de;
  color: #cecece;
}

//去除number的箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}